name: DailyStockScan

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * *'

jobs:
  scanner_job:
    runs-on: ubuntu-latest
    # נותן הרשאה לכתוב בחזרה ל-Repository
    permissions:
      contents: write
    steps:
      - name: Copy Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Tools
        run: pip install yfinance pandas pandas_ta requests lxml

      - name: Run Scan
        run: python main.py

      - name: Create index if missing
        run: |
          if [ ! -f index.html ]; then
            echo "<html><body><h1>No stocks found today</h1></body></html>" > index.html
          fi

      - name: Save Results
        run: |
          git config --global user.name "ScannerBot"
          git config --global user.email "bot@github.com"
          git add index.html
          git commit -m "Update Scan Results" || echo "No changes to commit"
          git push
