name: DailyStockScan

on:
  workflow_dispatch: # זה הכפתור שיאפשר לך להריץ ידנית לבדיקה
  schedule:
    - cron: '0 20 * * *' # ירוץ כל יום ב-22:00 שעון ישראל

jobs:
  scanner_job:
    runs-on: ubuntu-latest
    steps:
      - name: Copy Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Tools
        run: pip install yfinance pandas pandas_ta requests lxml

      - name: Run Scan
        run: python main.py

      - name: Save Results
        run: |
          git config --global user.name "ScannerBot"
          git config --global user.email "bot@github.com"
          git add index.html
          git commit -m "Update Scan Results" || echo "No changes to commit"
          git push
